$md-gray: #BABCC5;
$primary: #EC2059;
$drk-pink: #BD1746;
$drk-gray: #2A2C35;

.form-block{
  background: $md-gray;
}
.logo{
  width: 12%;
  margin: 30px;
}
.hero-block{
  background: $primary; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($primary, $drk-pink); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($primary, $drk-pink); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($primary, $drk-pink); /* For Firefox 3.6 to 15 */
    background: linear-gradient($primary, $drk-pink); /* Standard syntax */
}
.hero-photo{
  width: 15%;
}
.single-image{
  padding: 15px 30px 0;
}
h1{
  color: white;
  font-weight: 700;
  padding: 40px 30px 30px 200px;
  font-size: 2.5em;
}
h2{
 color: $drk-gray;
 font-size: 1em;
 text-align: center;
 margin: 20px;
}
.hero-content{
  background-image: url("../img/christmasShirt.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 150px;
  height: 300px;
}
