$md-gray: #BABCC5;
$primary: #EC2059;
$drk-pink: #BD1746;
$drk-gray: #2A2C35;

.form-block{
  background: $md-gray;
}
.logo{
  width: 14%;
  margin: 30px;
}
.hero-block{
  background: $primary; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($primary, $drk-pink); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($primary, $drk-pink); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($primary, $drk-pink); /* For Firefox 3.6 to 15 */
    background: linear-gradient($primary, $drk-pink); /* Standard syntax */
}
.hero-photo{
  width: 15%;
}
.single-image{
  padding: 15px 30px 0;
}
h1{
  color: white;
  font-weight: 700;
  padding: 40px 30px 30px 200px;
  font-size: 2.5em;
}
h2{
 color: $drk-gray;
 font-size: 1em;
 text-align: center;
 margin: 20px;
 font-weight: 700;
}
h3{
  color: $primary;
  font-size: 1.8em;
  font-weight: 700;
}
.hero-content{
  background-image: url("../img/christmasShirt.png");
  background-repeat: no-repeat;
  background-position: left 20px bottom;
  background-size: 150px;
  height: 300px;
}
p{
  color: $drk-gray;
  font-size: 1.4em;
  line-height: 1.3em;
}
 #body .grid-padding-y{
   padding: 30px 50px 20px 30px;
 }
#body img{
  vertical-align: bottom;
}
li{
  font-size: 1.3em;
  margin-left: 10px;
}
#body img{
  margin-left: 70px;
  margin-right: 20px;
  padding-right: 20px;
  margin-top: 100px;
}
//media queries
//----------------------------------------
@media screen and (max-width: 834px) {
  h1{
    font-size: 2em;
  }
}
@media screen and (max-width: 834px) {
  .logo{
    width: 20%;
  }
}
@media screen and (max-width: 420px) {
  h1{
    font-size: 1.5em;
  }
}
@media screen and (max-width: 420px) {
  .logo{
    width: 28%;
  }
}
@media screen and (max-width: 834px) {
  #body img{
    margin-left: 0;
    padding-right: 0;
    margin-top: 20px;
  }
}
@media screen and (max-width: 420px) {
  #body img{
    margin-left: 0;
    margin-top: 10px;
  }
}
@media screen and (max-width: 420px) {
  p{
    color: $drk-gray;
    font-size: 1.2em;
    line-height: 1.4em;
  }
}
